---
import Medallion from "./components/Medallion.astro";
import Navigation from "./components/Navigation.astro";
import { Image } from "astro:assets";

// Import all gallery images
import casaDelPrado from "../";
import casaDelPradoSmall from "../casa_del_prado_small.jpg";

import californiaTower from "../california_tower.jpg";
import californiaTowerSmall from "../california_tower_small.jpg";

import midway from "../midway.jpg";
import midwaySmall from "../midway_small.jpg";

import starOfIndia from "../star_of_india.jpg";
import starOfIndiaSmall from "../star_of_india_small.jpg";

import highRises from "../high_rises.jpg";
import highRisesSmall from "../high_rises_small.jpg";

import downtownDusk from "../downtown_dusk.jpg";
import downtownDuskSmall from "../downtown_dusk_small.jpg";

import sunsetPier from "../sunset_pier.jpg";
import sunsetPierSmall from "../sunset_pier_small.jpg";

import cranes from "./cranes.jpg";
import cranesSmall from "./cranes_small.jpg";

import bikeLaneNight from "../bike_lane_night.jpg";
import bikeLaneNightSmall from "../bike_lane_night_small.jpg";

import cityHallNight from "../city_hall_night.jpg";
import cityHallNightSmall from "../city_hall_night_small.jpg";

import nightIntersection from "../night_intersection.jpg";
import nightIntersectionSmall from "../night_intersection_small.jpg";

import station from "../station.jpg";
import stationSmall from "../station_small.jpg";

import scripps from "../scripps.jpg";
import scrippsSmall from "../scripps_small.jpg";

import mexicanFood from "../mexican_food.jpg";
import mexicanFoodSmall from "../mexican_food_small.jpg";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Gallery</title>
</head>

<body>
  <Navigation/>

  <main>
    <section>
      <h1>Gallery</h1>
      <p>I love <strong>San Diego</strong> and do enjoy a bit of amateur photography. Enjoy a selection of diverse scenes!</p>

      <!-- Example pattern for Astro images inside <picture> -->
      <picture>
        <source srcset={casaDelPrado.src} media="(min-width: 600px)" />
        <Image src={casaDelPradoSmall} alt="Casa Del Prado" height={400} />
      </picture>

      <picture>
        <source srcset={californiaTower.src} media="(min-width: 600px)" />
        <Image src={californiaTowerSmall} alt="California Tower" height={400} />
      </picture>

      <picture>
        <source srcset={midway.src} media="(min-width: 600px)" />
        <Image src={midwaySmall} alt="USS Midway" height={400} />
      </picture>

      <picture>
        <source srcset={starOfIndia.src} media="(min-width: 600px)" />
        <Image src={starOfIndiaSmall} alt="Masts of the Star of India" height={400} />
      </picture>

      <picture>
        <source srcset={highRises.src} media="(min-width: 600px)" />
        <Image src={highRisesSmall} alt="High-rises in Downtown SD" height={400} />
      </picture>

      <picture>
        <source srcset={downtownDusk.src} media="(min-width: 600px)" />
        <Image src={downtownDuskSmall} alt="Downtown SD at dusk" height={400} />
      </picture>

      <picture>
        <source srcset={sunsetPier.src} media="(min-width: 600px)" />
        <Image src={sunsetPierSmall} alt="SD Waterfront near sunset" height={400} />
      </picture>

      <picture>
        <source srcset={cranes.src} media="(min-width: 600px)" />
        <Image src={cranesSmall} alt="Construction cranes among clouds" height={400} />
      </picture>

      <picture>
        <source srcset={bikeLaneNight.src} media="(min-width: 600px)" />
        <Image src={bikeLaneNightSmall} alt="Bike lane lined with lamps" height={400} />
      </picture>

      <picture>
        <source srcset={cityHallNight.src} media="(min-width: 600px)" />
        <Image src={cityHallNightSmall} alt="SD City Hall at night" height={400} />
      </picture>

      <picture>
        <source srcset={nightIntersection.src} media="(min-width: 600px)" />
        <Image src={nightIntersectionSmall} alt="Intersection after a rainy night" height={400} />
      </picture>

      <picture>
        <source srcset={station.src} media="(min-width: 600px)" />
        <Image src={stationSmall} alt="Train station under a bridge" height={400} />
      </picture>

      <picture>
        <source srcset={scripps.src} media="(min-width: 600px)" />
        <Image src={scrippsSmall} alt="Scripps Institute of Oceanology" height={400} />
      </picture>

      <picture>
        <source srcset={mexicanFood.src} media="(min-width: 600px)" />
        <Image src={mexicanFoodSmall} alt="Neon Sign for Mexican Food" height={400} />
      </picture>
    </section>

    <noscript>
      <p><strong>Note:</strong> This form may not work correctly if JavaScript is disabled.</p>
    </noscript>

    <Medallion/>
  </main>

  <footer>
    <p>&copy; 2025 Anthony Tran</p>
  </footer>
</body>
</html>
